header {
  width: 100vw;
  height: 70px;
  background-color: var(--primary-purple-200);
  position: fixed;
  top: 0;
}

nav {
  max-width: var(--max-width);
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.logoBox {
  display: flex;
  font-size: 24px;
  font-weight: 800;
}

.pages {
  display: flex;
  gap: 10px;
}

.pages > li {
  display: flex;
  padding: 20px 10px;
  font-weight: 700;
  border-radius: 10px;
}
